@charset "UTF-8";
/*-----generales----*/
/*------body----*/
/*------header---*/
/*------main------*/
/*------footer----*/
/*---------cursor-------*/
/*------sombra----*/
/*------alineaciones-----*/
/*-----animaciones----*/
.contacto {
  position: fixed;
  top: 500px;
  bottom: 20%;
  right: 30px;
  cursor: pointer;
}

.navegadorSticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navegadorEstilo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 10px;
  padding: 10px;
  justify-items: center;
  size: 20px;
  background-color: #cc591b;
  opacity: 0.8;
}

.navegadorSticky a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px;
  font-size: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: serif;
  font-weight: 900;
  font-size: 35px;
  color: white;
}

.textoDerecha {
  text-align: right;
}

.textoIzquierda {
  text-align: left;
}

.textoCentrado {
  text-align: center;
}

body {
  background-color: black;
}

header {
  background-color: color black;
}

.logoNombre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  text-shadow: 1px 1px 10px rgba(11, 11, 11, 0.748);
}

.logoNombre img {
  box-shadow: 1px 1px 400px rgb(255, 251, 251);
  border-radius: 10%;
}

h1 {
  color: white;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

/*------main general----*/
main {
  background-color: color black;
  color: white;
}

/*------main Index----*/
.saboresEnVivo {
  padding-top: 20px;
  margin-bottom: 20px;
}

.imagenesGuitarras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagenesGuitarras img {
  width: 100%;
  height: auto;
}

.imagenSabores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imagenSabores img {
  width: 120px;
  height: 120px;
  box-shadow: 1px 1px 20px;
}

/*--------main conocenos-----*/
.conocenosTitulo {
  padding-top: 20px;
  margin-bottom: 20px;
}

.conocenos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conocenosTexto {
  margin-bottom: 20px;
  text-align: center;
}

.conocenosTexto img {
  width: 200px;
}

.guitarrasTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conocenosTexto img {
  box-shadow: 1px 1px 20px;
  margin-bottom: 10px;
}

/*------main carta-------*/
.contenedorCarta {
  display: grid;
}

.cartaComidas {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 1px 1px 20px;
}

.imagenComidaTexto {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

/*------main reservas------*/
.boton {
  padding: 10px;
  margin: 10px;
  border-style: groove;
  border-radius: 6px;
  background-color: rgb(20, 19, 19);
  color: white;
}

.flexGeneral {
  display: flex;
  text-align: center;
}

.gridReservas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.reservasAlineadas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.estiloReservas {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 1px 1px 20px;
}

/*-----------main Shows------*/
.show_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.showTexto {
  display: flex;
  flex-direction: column;
}

.btn-outline-secondary {
  box-shadow: 0 0 20px;
  color: white;
}

.show_flex img {
  box-shadow: 1px 1px 20px;
}

footer {
  background-color: black;
  color: white;
}

.mapa iframe {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

footer div ul li {
  text-decoration: none;
  color: white;
  text-decoration: none;
  list-style: none;
}

footer div ul li a {
  text-decoration: none;
  color: white;
}

.imagenPiano img {
  width: 100%;
  height: auto;
}

.botonesNav:hover {
  transform: scale(1.1);
  list-style: none;
  box-shadow: 0 0 5px grey;
  border-radius: 2px;
  padding: 7px;
  transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

.pizza::before {
  content: "🍕";
}

.telefono::before {
  content: "📞";
  margin-right: 5px;
}

.auto::before {
  content: "🚗";
}

.online::before {
  content: "🎹";
}

::selection {
  background-color: white;
  color: black;
}

nav ul {
  list-style: none;
}

/*-----carrusel----*/
.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-carrusel {
  object-fit: cover;
}

.btn-outline-secondary {
  transition: transform 1s ease;
}

.btn-outline-secondary:hover {
  transform: translate(3px, -3px);
}

.contacto {
  transition: transform 1s ease;
}

.contacto:hover {
  transform: translate(3px, -3px);
}

.contactoReserva {
  transition: transform 3s ease;
}

.contactoReserva:hover {
  transform: 3px, -3px;
}

.boton {
  transition: transform 0.1s ease, box-shadow 0.1 ease;
}

.boton:hover {
  transform: translate(0.5px, 0.5px);
  box-shadow: 1px 1px 20px;
}

.boton:active {
  background-color: grey;
  transform: translate(0.3px 0.3px);
  box-shadow: 1px 1px 8px black;
}

/*------------------keyframe----------*/
.cartaComidas {
  animation: aparecer 3s;
}

.imagenSabores {
  animation: aparecer 5s;
}

@keyframes aparecer {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  * {
    font-size: 17px;
  }
  .logoNombre {
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .navegador {
    justify-content: center;
    flex-wrap: wrap;
  }
  .show_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gridReservas {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .estiloReservas {
    margin-bottom: 2px;
    padding: 20px;
  }
  .guitarrasTexto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .informacionFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
