@use "../utilities/variable" as*;
@use "../utilities/mixins" as *;
header{
    background-color: $bg-header;
    
}
.logoNombre {
    @include flex(space-evenly, center);
    height: 50vh; 
    text-shadow: 1px 1px 10px rgba(11, 11, 11, 0.748);
}
.logoNombre img{
    box-shadow: 1px 1px 400px rgb(255, 251, 251);
    border-radius: 10%;  
}

h1{
    color: $texto-color;
}
header nav ul li a {
    color: $texto-color;
    text-decoration: none;
    
}