@use "../utilities/variable" as *;
@use "../utilities/mixins" as *;
/*------main general----*/
main{
    background-color: $bg-main;
    color: $texto-color;
}
/*------main Index----*/
.saboresEnVivo{
    padding-top: 20px;
    margin-bottom: 20px;
}
.imagenesGuitarras{
    @include flex (space-between, center);
}
.imagenesGuitarras img{
    width: 100%;
    height: auto;
}
.imagenSabores{
    @include flex (center, center);    
    gap: 20px;
    flex-wrap: wrap;
}
.imagenSabores img{
    width: 120px;
    height: 120px;
    box-shadow: $sombra-imagenes;
}
/*--------main conocenos-----*/
.conocenosTitulo{
    padding-top: 20px;
    margin-bottom: 20px;
}
.conocenos{
    @include flex (center, center);
}
.conocenosTexto{
    margin-bottom: 20px;
    text-align: center;
}
.conocenosTexto img{
    width: 200px;
}
.guitarrasTexto{
    @include flex (center, center);
}
.conocenosTexto img{
    box-shadow: $sombra-imagenes ;
    margin-bottom: 10px;
}
/*------main carta-------*/
.contenedorCarta{
    display: grid;
}
.cartaComidas{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding:20px;
    box-shadow: $sombra-imagenes ;
    
    
}
.imagenComidaTexto{
    @include flex (center, null);
    gap: 50px;
    margin-top: 20px;
    max-width: 100%;
    flex-wrap: wrap;
}
/*------main reservas------*/
.boton{
    padding: 10px;
    margin: 10px;
    border-style:groove;
    border-radius: 6px ;
    background-color: rgb(20, 19, 19);
    color: white;

}
.flexGeneral {
    display: flex;
    text-align: center;
}

.gridReservas{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;   
}
.reservasAlineadas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    
    
}

.estiloReservas{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
    margin-left: 20px;
    padding:20px;
    box-shadow: $sombra-imagenes ;

}
/*-----------main Shows------*/
.show_flex {
    @include flex (space-between, center);
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}
.showTexto{
    display: flex;
    flex-direction: column ;
}

.btn-outline-secondary{
    box-shadow: 0 0 20px;
    color: white;
    
}
.show_flex img{
    box-shadow: $sombra-imagenes ;
}
