@use "../utilities/mixins" as *;
@media (max-width: 500px){
    *{
    font-size: 17px;
    }
    .logoNombre {
        flex-wrap: wrap; 
        margin-top: 20px;  
        margin-bottom: 10px; 
    }
    .navegadorEstilo{
        @include flex (center,center);
        text-align: center;
        gap:6px;
        margin-left: 2px;
    }
    
    .contenedorCarta{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .show{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .btn-outline-secondary{
        margin: 20px;
    }
    .reservas{
        grid-template-columns:1fr;
    }  
    .estiloReservas{
        margin-bottom: 2px;
        padding:20px;
    }
    .reservaLocal iframe{
        width: 100px;
        height: 100px;
    }
    .mapaReservas{
        display: flex;
        justify-content: center;
    }
    .conocenos{
        display: grid;
        grid-template-columns: repeat(3 1fr);
    }  
    .informacionFooter {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .informacionFooter li{
        font-size: 15px;
        text-align: center;
    }
    .redes img{
        width: 25px;
        height: 25px;
    }
}