
/*-----generales----*/
$fuente-titlos: serif;
$grosor-letra: 900;
$size-letra: 35px;
$texto-color: white;

/*------body----*/
$bg-body:black;
/*------header---*/
$bg-header: color black;
/*------main------*/
$bg-main: color #ff0000;

/*------footer----*/
$bg-footer: black;

/*---------cursor-------*/
$cursor: pointer;

/*------sombra----*/
$sombra-imagenes: 1px 1px 20px;
/*------alineaciones-----*/
$texto-derecha: right;
$texto-izquierda:left;
$texto-centrado: center;
/*-----animaciones----*/
$trans-chico: (3px,-3px);
