@use "../utilities/variable" as *;
@use "../utilities/mixins" as *;
.navegadorSticky{
    position: sticky;
    top: 0;
    z-index: 1000;

}
.navegadorEstilo{
    @include flex (center,center);
    gap: 6px;
    margin: 10px;
    padding: 10px;
    justify-items: center;
    size: 20px;
    background-color:#cc591b;
    opacity: 0.8;
}
.navegadorSticky a{
    color:$texto-color;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
}
